.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 20px auto;
  margin-bottom: 30px;
  padding: 16px;
  height: 76px;
  backdrop-filter: blur(5px);
  border-radius: 16px;
  border: 1px solid #197688;
  position: sticky;
  top: 10px;
  z-index: 1000;
}

.nav-left .logo {
  height: 40px;
  width: auto;
}

.nav-center {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-grow: 1;
}

@media screen and (max-width: 480px) {
  .navbar {
    margin: 25px;
    padding: 16px;
    max-width: 90%;
  }

  .nav-center {
    display: none;
  }
}

.nav-link {
  text-decoration: none;
  color: #b3b3b3;
  font-family: serif;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #fff;
}

.nav-right {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px 10px;
  border-radius: 12px;
}

.nav-right:hover {
  background-color: #197688;
}

.my-tickets {
  display: flex;
  align-items: center;
  gap: 5px;
}

.arrow-icon {
  font-size: 14px;
  color: white;
}

.nav-right .nav-link:hover {
  color: #052f35;
}
