@import url("https://fonts.googleapis.com/css2?family=Road+Rage&family=Alatsi&family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(at bottom center, #0e464f 0%, #02191d 100%);
  overflow-x: hidden;
}

h4 {
  font-family: "Alatsi";
  font-size: 20px;
  margin: 5px;
  text-transform: uppercase;
}

.counter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.counter.hide {
  transform: translate(-50%, -150%) scale(0);
  animation: hide 0.2s ease-out forwards;
}

@keyframes hide {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -150%) scale(0);
  }
}

.final {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.final.show {
  transform: translate(-50%, -50%) scale(1);
  animation: show 0.2s ease-out;
}

@keyframes show {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.nums {
  font-family: "Alatsi";
  font-size: 50px;
  position: relative;
  color: #3498db;
  overflow: hidden;
  width: 250px;
  height: 50px;
}

.nums span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(120deg);
  transform-origin: bottom center;
}

.nums span.in {
  transform: translate(-50%, -50%) rotate(0deg);
  animation: goIn 0.5s ease-in-out;
}

.nums span.out {
  animation: goOut 0.5s ease-in-out;
}

@keyframes goIn {
  0% {
    transform: translate(-50%, -50%) rotate(120deg);
  }
  30% {
    transform: translate(-50%, -50%) rotate(-20deg);
  }
  60% {
    transform: translate(-50%, -50%) rotate(10deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes goOut {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  60% {
    transform: translate(-50%, -50%) rotate(20deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-120deg);
  }
}

.select-ticket {
  max-width: 700px;
  margin: 20px auto;
  border: 1px solid #197688;
  border-radius: 30px;
  padding: 20px;
  color: #f0f0f0;
  background: linear-gradient(#07373f, #041e23);
}

.select-ticket > h1 {
  position: absolute;
  font-family: serif;
  font-size: 32px;
}

.ticketbar {
  margin-bottom: 25px;
  justify-content: space-between;
}

.ticket-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: serif;
  width: 100%;
}

.step {
  font-size: 16px;
  color: #fff;
  padding: 10px;
  text-align: end;
}

.ticket-progress-bar {
  height: 5px;
  background-color: #0e464f;
  max-width: 645px;
  border-radius: 20px;
}

.progress {
  width: 33%;
  height: 100%;
  background-color: #24a0b5;
}

.techFest {
  max-width: 680px;
  margin: 20px auto;
  background: linear-gradient(
    90deg,
    #07373f 23%,
    #02191d 28px,
    #02191d 10%,
    #07373f 23%
  );
  border: 1px solid #197688;
  border-radius: 15px;
  padding: 20px;
}

.techFest h2 {
  font-size: 16px;
}

.techFest-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 680px;
  margin: 10px auto;
  padding: 28px;
  line-height: 1.5;
  border: 1px solid #197688;
  border-radius: 15px;
  background-image: linear-gradient(to bottom right, #07373f, #02191d);
}

.techFest-content h1 {
  color: #ffffff;
  font-family: "Road Rage", sans-serif;
  font-size: 48px;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 10px;
}

.techFest-content p {
  color: #fafafa;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 2;
  margin: 5px 0;
}

#line {
  height: 3px;
  max-width: 680px;
  margin: 35px auto;
  background-color: #0e464f;
}

.ticket-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #052228;
  border: 1px solid #197688;
  border-radius: 15px;
}

.free-ticket {
  border: 1px solid #197688;
  border-radius: 15px;
  padding: 10px;
  line-height: 1.5;
  width: 30%;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.free-ticket.selected {
  background-color: #197688;
  color: #efefef;
}

.free-ticket:hover {
  background-color: #197688;
}

select {
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #197688;
  border-radius: 10px;
  background-color: #07373f;
  color: #efefef;
}

select:focus {
  outline: none;
}

.buttons {
  width: 100%;
  display: flex;
}

button.ticket-quantity-button {
  margin: 10px;
}

.quantity-button {
  margin: 10px;
  width: 100%;
}

.buttons button {
  width: 100%;
  height: 50px;
  border: 1px solid #197688;
  border-radius: 10px;
  margin-top: 30px;
  background-color: #07373f;
  color: #197688;
}

.buttons button:hover {
  background-color: #197688;
  color: #fff;
}

.buttons a:hover {
  background-color: #197688;
  color: #fff;
}

.attendee-section {
  max-width: 680px;
  margin: 20px auto;
  background-color: #07373f;
  border: 1px solid #0e464f;
  border-radius: 15px;
  padding: 24px;
}

.attendee-main,
h1 {
  font-family: "Roboto" sans-serif;
  font-size: 16px;
}

.attendee-main {
  max-width: 600px;
  height: 328px;
  background-color: #062f36;
  border: 1px solid #197688;
  border-radius: 15px;
  margin: 0 auto;
  padding: 24px;
}

.attendee-upload {
  max-width: 508px;
  height: 200px;
  background-color: #041e23;
  margin: 30px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-upload {
  width: 240px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #0e464f;
  border: 5px solid #24a0b5;
  border-radius: 15px;
  padding: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  overflow: hidden;
}

.uploaded-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.attendee-form {
  width: 100%;
}

.attendee-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 680px;
}

label {
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-size: 14px;
}

.form-group {
  width: 100%;
  max-width: 600px;
  margin: 10px;
}

.attendee-form form input,
.form-textarea {
  width: 100%;
  height: 50px;
  padding-left: 36px;
  background-color: #062f36;
  border-radius: 12px;
  border: 1px solid #0e464f;
  color: #efefef;
  margin-top: 5px;
}

.form-textarea {
  height: auto;
  min-height: 100px;
  padding: 10px 15px;
}

.form-input:focus,
.form-textarea:focus {
  outline: none;
  border-color: #1ba098;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input-icon {
  position: absolute;
  left: 15px;
  color: gray;
  font-size: 18px;
}

.ticketready {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  color: #fff;
  max-width: 700px;
  height: 980px;
  border: 1px solid #0e464f;
  border-radius: 32px;
  margin: auto;
}

.ticketready h1 {
  font-size: 32px;
  margin-top: 20px;
  font-family: "Alatsi", sans-serif;
  margin: 10px;
}

.ticketready p {
  font-size: 15px;
  padding: 3px;
  line-height: 2;
  transform: scaleX(1.2);
  display: inline-block;
}

.ticketready-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 600px;
  margin: auto;
  margin-bottom: 120px;
  border: none;
  position: relative;
  padding: 10px;
}

.background-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  opacity: 0.5;
  width: 300px;
  height: 600px;
  margin-top: 80px;
  pointer-events: none;
}

.container {
  width: 270px;
  height: 446px;
  border: 1px solid #197688;
  position: absolute;
  margin-top: 50px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 175px;
  min-height: 80px;
  border: 1px solid #000;
  text-align: center;
  margin-bottom: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content h1 {
  font-family: "Road Rage", sans-serif;
  font-size: 34px;
  font-weight: 400;
  margin: 0;
}

.content p {
  font-size: 10px;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.content-img {
  width: 130px;
  height: 130px;
  border: 5px solid #24a0b5;
  border-radius: 15px;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  overflow: hidden;
}

.content-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  padding: 10px;
  position: absolute;
  margin-top: 260px;
}

.grid {
  width: 125px;
  height: 55px;
  border: 1px solid #12464e;
  padding: 10px;
  font-size: 10px;
  text-align: left;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}

.grid:first-child {
  border-top-left-radius: 10px;
}

.grid:nth-child(2) {
  border-top-right-radius: 10px;
}

.grid:last-child {
  grid-column: span 2;
  width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.grid strong {
  font-size: 10px;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 4px;
  opacity: 33%;
}

.barcode {
  margin-top: 330px;
  width: 245px;
}

.ready {
  display: none;
}

@media screen and (max-width: 480px) {
  .select-ticket {
    width: 90%;
    background-color: #fff;
    text-align: center;
  }

  .select-ticket > h1 {
    font-size: 18px;
    margin-top: 10px;
  }

  select {
    width: 100%;
  }

  .techFest {
    width: 100%;
    padding: 10px;
    border: none;
  }

  .techFest h2 {
    text-align: left;
  }

  .techFest-content {
    text-align: center;
    padding: 10px;
  }

  .techFest-content h1 {
    font-size: 26px;
    text-align: center;
  }

  .techFest-content p {
    font-size: 12px;
    padding: 10px;
  }

  .attendee-form form {
    width: 100%;
    text-align: left;
  }

  label {
    text-align: left;
    font-size: 16px;
  }

  .form-input,
  .form-textarea {
    font-size: 14px;
  }

  .buttons {
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
  }

  .quantity-button {
    width: 30px;
  }

  .ready {
    width: 90%;
    text-align: center;
    margin: 0 auto 20px;
  }

  .ticket-header {
    text-align: center;
  }

  .ticket-progress-bar {
    width: 100%;
    margin: 0 auto;
  }

  .ticketready {
    height: auto;
    margin: 12px;
    padding: 15px;
    text-align: center;
    border: none;
  }

  .ticketready > h1 {
    font-size: 22px;
    text-align: center;
    line-height: 2;
  }

  .ticketready > p {
    font-size: 12px;
    line-height: 1.5;
  }

  .ticket-type {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .free-ticket {
    width: 100%;
    padding: 15px;
    height: auto;
    text-align: left;
    margin: 5px 0;
  }

  .attendee-section {
    padding: 8px;
    border: none;
    background: none;
  }

  .attendee-main,
  h1 {
    font-family: "Roboto" sans-serif;
    font-size: 16px;
    text-align: left;
  }

  .attendee-main {
    height: 328px;
    background-color: #062f36;
    border: 1px solid #0e464f;
    border-radius: 20px;
    margin: 0 auto;
    padding: 24px;
  }

  .attendee-upload {
    background: none;
  }
}
